# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

* List popular languages for Data Science
* Create markdown cell
* Create code cell
* write simple Python code
* Review the knowledge

Some of the popular languages that Data Scientists use are

* Python
* R
* SQL

Some of the commonly used libraries used by Data Scientists include:

1) pandas
2) numpy
3) ggplot

| Data Science Tools  | 
|-------|
| Python |  
| R  |
| Jupyter   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
hours

3.3333333333333335

## Author

Lukasz Zolan